Source: tuquito-desktop-main
Section: metapackages
Priority: extra
Maintainer: Mario Colque <mario@tuquito.org.ar>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.1

Package: tuquito-desktop-main
Architecture: all
Depends: tuquito-desktop-base, banshee, cheese, chromium-browser, chromium-browser-inspector, chromium-browser-l10n, chromium-codecs-ffmpeg-extra, chromium-codecs-ffmpeg-nonfree, emesene, gimp, gnome-do, gnome-do-plugins (>= 0.8.2), gnome-do-docklets, gnome-phone-manager, gufw, gwibber, gtk-recordmydesktop, gucharmap, ndisgtk, ndiswrapper-utils-1.9, openoffice.org-base-core, openoffice.org-calc, openoffice.org-common, openoffice.org-core, openoffice.org-draw, openoffice.org-emailmerge, openoffice.org-gnome, openoffice.org-gtk, openoffice.org-impress, openoffice.org-math, openoffice.org-style-human, openoffice.org-writer, openoffice.org-l10n-es, openoffice.org-l10n-pt-br, usb-creator, vlc, mozilla-plugin-vlc, pitivi, thunderbird, thunderbird-gnome-support, thunderbird-locale-es-ar, thunderbird-me-menu, transmission-gtk, tucan, tuquito-menu, vino, vinagre, 
Description: Escritorio de Tuquito con extras
 Instala todas las aplicaciones de Tuquito para la edición main y agrega extras
 * Tuquito Team! - 2010
